/*{
    border: 3px solid red;
}

/* ================  Setup de Base  ================ */
    html {
        font-family: monospace,arial;
        margin:0px;
        background-color: #32353b;
    }

    body{
        margin:0px;
    }

    ::selection {
        background: #08d3f7;
        margin:0px;
      }

    head{
        margin: 0px;   
    }

/* ================ NavBar & Menu  ================ */
    div.head {
        color: white;
        text-align: center;
        padding: 40px; 
        margin:0px;
        background: linear-gradient(135deg, #F7792F, #EDBB2D);
    }

    u.NavBar{
        margin: 0px;
        padding: 0px;
        top: 10px;
        left: 20px; 
        list-style-type: none; 
        border: 1px soild black;
    }

    li.buttonNavBar{
        cursor: pointer;
        margin-top: 2px;
        float: left;
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        top: -10px;
        z-index: 1;  
    }
    
    u.NavBar a{
        color: white;
        text-decoration: none;
    }

    div.languages-list{
        display: none;
        cursor: pointer;
        margin: 0px;
        padding: 5px;
        padding-top: 15px;
        float: normal;
        position: absolute;
        top: 45px;
        text-align: left;
        z-index: 0;
        
    }

    li.languages-list{
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    u.NavBar li:hover{
        background-color: #c45f00;
    }

    div.languages:hover div.languages-list{
        display: block;
    }
      
  
    nav.Menu{
        text-align: center;
        margin:0px;
        position: sticky;
    }

    button.Menu {
        margin-bottom: 15px;
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        font-family: monospace,arial;
        cursor: pointer;
        text-align: center;
        outline: none;
        color: #fff;
        background-color: #4744F2;
        border: 0px;
        border-radius: 15px;
        box-shadow: 3px 7px #999;
    }

    button.Menu:hover {
        background-color: #5000a7;
        transition-duration: 0.5s;
    }

    button.Menu:active {
      background-color: #5000a7;
      box-shadow: 1px 2px #666;
      transform: translateY(4px);
    }



/* ================  Presentation  ================ */

    div.content{
        background-color: #32353b;
        text-align: center;
        padding: 20px;
        color:white;
    }

    .highlight{
        color: #ff0000;
        transition: all 1s;
    }
    
    .highlight:hover{
    background-color: white;
    }

    button.buttonPresentation{
        color: white;
        background: none;
        border: 3px solid white;
        cursor: pointer;
        width: 200px;
        height: 60px;
        font-size: 20px;
        margin: 10px;
        position: relative;
    }

    a button.buttonPresentation{
        color: white;
        position: relative;
        z-index: 0;
    }
    
    button.buttonPresentation::after {
        background: #00badb;
        content: '';
        opacity: 1;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
        z-index:-1;
    }

    button.buttonPresentation:hover:after{
        transition: all .35s;
        width: 100%;
    }
    
    button.buttonPresentation:not(hover):after{
        transition: all .35s;
        width: 0%;
    }

/* ================  Presentation Part2 ================ */

    div.EnSavoirPlus{
        text-underline-position: below;
        font-size: 20px;
    }

    @media (max-width: 999px){
        div.FlexBox#l{
            padding: 25px;
            margin: 50px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        div.FlexBox#r{
            padding: 25px;
            margin: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (min-width: 1000px){
        div.FlexBox{
        padding: 25px;
        margin: 100px;    
        display: flex;
        flex-direction: normal;
        align-items: center;
        }
    }

    div.FlexBox > div{
        padding: 25px;
        margin: 0px;
        text-align: left;
        vertical-align: bottom;
    }
